<div class="wrapper">
  <div class="inner">
          <form #addTypeForm='ngForm' (ngSubmit)='editType()'>
            
            <div class="col-sm-8">
              <div class="col-sm-2">
              <h3><b>Modifier type</b></h3>
            </div>
            <div class="form-group">
              <input type="text" class="form-control"  [(ngModel)]='type.libelle' [ngModelOptions]="{standalone: true}" placeholder="libelle" >
            </div>
            </div>
            <div class="col-sm-8">
            <div class="form-group">
              <textarea   [(ngModel)]='type.description' [ngModelOptions]="{standalone: true}" placeholder="description" ></textarea>
            </div>
            </div>
             <button type="submit"  class="btn btn-secondary btn-lg"> 
               <span>Ajouter</span></button>     
          </form>
        </div>
        <br><br>
      </div>
    

     
    
    
    
      
    