<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
            <i class="fas fa-laugh-wink"></i>
        </div>
        <div class="sidebar-brand-text mx-3">Mon espace  </div>
      </a>
  
    <hr class="sidebar-divider my-0">
  
    <li class="nav-item active">
        <a class="nav-link" href="index.html">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Acceuil</span></a>
    </li>
      
  <li class="nav-item">
    <a class="nav-link" routerLink="/" >
        <i class="fas fa-fw fa-table"></i>
        <span>types de projets</span></a>
  </li>

    <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsevideo"
          aria-expanded="true" aria-controls="collapsevideo">
            <span> montage Video</span></a>
            <div id="collapseVideo" class="collapse" aria-labelledby="headingvideo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" routerLink="/ajoutvideo">Ajouter un video</a>
                  <a class="collapse-item" routerLink="/gestionvideos" >consulter video</a>
              </div>
          </div>
        </li>
          <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapselogo"
          aria-expanded="true" aria-controls="collapselogo">
            <span> Conception Logo</span></a>
            <div id="collapseLogo" class="collapse" aria-labelledby="headinglogo" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" routerLink="/ajoutlogo">Ajouter un logo</a>
                  <a class="collapse-item" routerLink="/gestionlogos" >consulter logo</a>
              </div>
          </div>
        </li>
             <li class="nav-item">
          <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseaffiche"
          aria-expanded="true" aria-controls="collapseaffiche">
            <span> Conception Affiche</span></a>
            <div id="collapseaffiche" class="collapse" aria-labelledby="headingaffiche" data-parent="#accordionSidebar">
              <div class="bg-white py-2 collapse-inner rounded">
                  <a class="collapse-item" routerLink="/ajouaffiche">Ajouter une affiche</a>
                  <a class="collapse-item" routerLink="/gestionaffiches">consulter affiche</a>
              </div>
          </div>  
        </li> 
           
   <li class="nav-item">
      
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedemande"
              aria-expanded="true" aria-controls="collapsedemande">
               <i class="fas fa-fw fa-table"></i>
                <span>  Demande</span></a>
                <div id="collapsedemande" class="collapse" aria-labelledby="headingdemande" data-parent="#accordionSidebar">
                  <div class="bg-white py-2 collapse-inner rounded">
                      <a class="collapse-item" routerLink="/ajoutdemande">Déposer votre demande</a>
                      <a class="collapse-item" routerLink="/gestiondemande">consulter votre demande</a>
                  </div>
              </div>  
            </li> 
               




   
    <hr class="sidebar-divider d-none d-md-block">
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
  </ul>
  
  
     
    
   
   
