
    
    <div class="table-responsive">
        <div class="table-wrapper">
            <div class="table-title">
               <h3><b>Liste des affiches</b></h3>
            </div>
  
            <table class="table table-bordered">
        <table class="table">
            <thead>
              <tr>
              <th scope="col">#</th>
              <th scope="col">Dimensions</th>
              <th scope="col">Nombre d'images</th>
              <th scope="col">Couleurs</th>
              <th scope="col">Support</th>
              <th scope="col">Exemple</th>
             
              </tr>
            </thead>
            <tbody>
      
              <tr *ngFor='let a of Affiches'>
              <th >{{a.id}}</th>
              <td>{{a.dimensions}}</td>
              <td>{{a.nbrimages}}</td>
              <td>{{a.couleurs}}</td>
              <td>{{a.support}}</td>
              <td>{{a.exemple}</td>
              
             </tr>  
            </tbody>
            </table>
         
         
     
    
    
    
  
  
