<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
      <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
      </div>
      <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">

  <!-- Nav Item - Dashboard -->
  <li class="nav-item active">
      <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Acceuil</span></a>
  </li>

  
  <li class="nav-item">
  <a class="nav-link" routerLink="/" >
      <i class="fas fa-fw fa-table"></i>
      <span>Clients</span></a>

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetype"
        aria-expanded="true" aria-controls="collapsetype">
         <i class="fas fa-fw fa-table"></i>
          <span>  types</span></a>
          <div id="collapsetype" class="collapse" aria-labelledby="headingtype" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/ajouut">Ajouter un type</a>
                <a class="collapse-item" routerLink="/gestiontypes">Liste des types</a>
            </div>
        </div>  
      </li> 
         
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsetypedemande"
        aria-expanded="true" aria-controls="collapsetypedemande">
         <i class="fas fa-fw fa-table"></i>
          <span>  types demandés</span></a>
          <div id="collapsetypedemande" class="collapse" aria-labelledby="headingtypedemande" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/gestionVideoAdmin"> consulter type video</a>
                <a class="collapse-item" routerLink="/gestionLogoAdmin"> consulter type logo</a>
                <a class="collapse-item" routerLink="/gestionAfficheAdmin"> consulter type affiche</a>
            </div>
        </div>  
      </li> 

      
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsedemande"
        aria-expanded="true" aria-controls="collapsedemande">
         <i class="fas fa-fw fa-table"></i>
          <span>  Demandes</span></a>
          <div id="collapsedemande" class="collapse" aria-labelledby="headingdemande" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/gestiondemandes">consulter des demandes</a>
            </div>
        </div>  
      </li> 

      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseprojet"
        aria-expanded="true" aria-controls="collapseprojet">
         <i class="fas fa-fw fa-table"></i>
          <span>  Projets</span></a>
          <div id="collapseprojet" class="collapse" aria-labelledby="headingprojet" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" routerLink="/">Ajouter un  projet</a>
                <a class="collapse-item" routerLink="/">Liste des projets</a>
            </div>
        </div>  
      </li> 
         
  <li class="nav-item">
      <a class="nav-link" href="tables.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Demo</span></a>
  </li>
  
  <hr class="sidebar-divider d-none d-md-block">
  <div class="text-center d-none d-md-inline">
      <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>
</ul>