
        <div id="wrapper">
          <app-menu></app-menu>
          
               <div id="content-wrapper" class="d-flex flex-column">
               <div id="content">
                  <app-navbar></app-navbar>
                  <br>
                   <div class="container-fluid">
                   <div class="row"> 
                         <div class="col-sm-12">
                          <app-demandes-table></app-demandes-table>
                        </div></div>  
   
                    </div>
                   </div>
                   </div>
                  </div>

   

      
   
   
